@import "../_colours";
@import "../_typography";
@import "../_shims";
@import "../_grid_layout";

// Phase banner usage:
//
// .phase-banner {
//    @include phase-banner($state: beta);
// }

@mixin phase-banner($state: alpha) {
  padding: 10px 0 8px 0;
  @include media(tablet) {
    padding-bottom: 10px;
  }
  border-bottom: 1px solid $border-colour;

  p {
    margin: 0;
    color: $banner-text-colour;
    @include core-16;
  }

  .phase-tag {
    @include phase-tag($state);
  }

  span {
    vertical-align: top;

    @include media(tablet) {
      vertical-align: baseline;
    }
  }
}

// Phase tag usage:
//
// Alpha
// .phase-tag {
//    @include phase-tag;
// }
//
// Beta
// .phase-tag {
//    @include phase-tag(beta);
// }

@mixin phase-tag($state: alpha) {
  @include inline-block;
  vertical-align: top;

  @include media(tablet){
    vertical-align: baseline;
  }

  margin: 0 8px 0 0;
  padding: 2px 5px 0;

  @include bold-16($line-height: 20/16);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  color: #fff;
  @if $state == alpha {
    background-color: $alpha-colour;
  } @else if $state == beta {
    background-color: $beta-colour;
  }
}
