// Colours for the site, as per:
// http://alphagov.github.com/design/gov.uk.colours/

// Departmental colours
$attorney-generals-office: #9f1888;
$cabinet-office: #005abb;
$department-for-business-innovation-skills: #003479;
$department-for-communities-and-local-government: #00857e;
$department-for-culture-media-sport: #d40072;
$department-for-education: #003a69;
$department-for-environment-food-rural-affairs: #898700;
$department-for-international-development: #002878;
$department-for-transport: #006c56;
$department-for-work-pensions: #00beb7;
$department-of-energy-climate-change: #009ddb;
$department-of-health: #00ad93;
$foreign-commonwealth-office: #003e74;
$government-equalities-office: #9325b2;
$hm-government: #0076c0;
$hm-revenue-customs: #009390;
$hm-treasury: #af292e;
$home-office: #9325b2;
$ministry-of-defence: #4d2942;
$ministry-of-justice: #231f20;
$northern-ireland-office: #002663;
$office-of-the-advocate-general-for-scotland: #002663;
$office-of-the-leader-of-the-house-of-lords: #9c132e;
$scotland-office: #002663;
// Note: the 'the' part here will get dropped
$the-office-of-the-leader-of-the-house-of-commons: #317023;
$uk-export-finance: #005747;
$uk-trade-investment: #C80651;
$wales-office: #a33038;

// Brand colours
$govuk-blue: #005ea5;
$mainstream-brand: $govuk-blue;

// Standard palette, colours
$purple: #2e358b;
$purple-50: #9799c4;
$purple-25: #d5d6e7;
$mauve: #6f72af;
$mauve-50: #b7b9d7;
$mauve-25: #e2e2ef;
$fuschia: #912b88;
$fuschia-50: #c994c3;
$fuschia-25: #e9d4e6;
$pink: #d53880;
$pink-50: #eb9bbe;
$pink-25: #f6d7e5;
$baby-pink: #f499be;
$baby-pink-50: #faccdf;
$baby-pink-25: #fdebf2;
$red: #b10e1e;
$red-50: #d9888c;
$red-25: #efcfd1;
$mellow-red: #df3034;
$mellow-red-50: #ef9998;
$mellow-red-25: #f9d6d6;
$orange: #f47738;
$orange-50: #fabb96;
$orange-25: #fde4d4;
$brown: #b58840;
$brown-50: #dac39c;
$brown-25: #f0e7d7;
$yellow: #ffbf47;
$yellow-50: #ffdf94;
$yellow-25: #fff2d3;
$grass-green: #85994b;
$grass-green-50: #c2cca3;
$grass-green-25: #e7ebda;
$green: #006435;
$green-50: #7fb299;
$green-25: #cce0d6;
$turquoise: #28a197;
$turquoise-50: #95d0cb;
$turquoise-25: #d5ecea;
$light-blue: #2b8cc4;
$light-blue-50: #96c6e2;
$light-blue-25: #d5e8f3;

// Standard palette, greys
$black: #0b0c0c;
$grey-1: #6f777b;
$grey-2: #bfc1c3;
$grey-3: #dee0e2;
$grey-4: #f8f8f8;
$white: #fff;

// Semantic colour names
$link-colour: $govuk-blue;
$link-active-colour: #2e8aca;
$link-hover-colour: #2e8aca;
$link-visited-colour: #2e8aca;
$button-colour: #00823b;
$text-colour: $black;             // Standard text colour
$secondary-text-colour: $grey-1;  // Section headers, help text etc.
$border-colour: $grey-2;          // Borders, seperators, rules, keylines etc.
$panel-colour: $grey-3;           // Related links panel, page footer etc.
$canvas-colour: $grey-4;          // Page background
$highlight-colour: $grey-4;       // Table stripes etc.
$page-colour: $white;             // The page
$alpha-colour: $pink;             // Alpha badges and banners
$beta-colour: $orange;            // Beta badges and banners
