//  GOV.UK font stacks, referred to in typography.scss


//  Font stack weirdness
//
//  To ensure embedded fonts fall back to appropriate
//  system fonts (eg, bold embedded font falls back to
//  bold system font, without anyone getting horrible
//  artificially emboldened weights) we're setting
//  the font-stack in a font-face declaration rather
//  than with the usual font-family.

// New Transport Light

$NTA-Light:
  "nta", 
  Arial,
  sans-serif;

// New Transport Light with Tabular

$NTA-Light-Tabular:
  "ntatabularnumbers",
  "nta", 
  Arial,
  sans-serif;

// Helvetica Regular

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"),
       local("Helvetica Neue"),
       local("Arial"),
       local("Helvetica");
}

$Helvetica-Regular:
  "GDS-Logo",
  sans-serif;
