@import '_conditionals.scss';
@import '_measurements.scss';
@import '_shims.scss';

// Outer block sets a max width
@mixin outer-block {
  margin: 0 auto;
  width: auto;
  max-width: 960 + $gutter*2;
  @extend %contain-floats;
  @include ie-lte(8) {
    width: 1020px;
  }
}

// Outer block usage:
//
// .outer-block {
//    @include outer-block;
// }

// Inner block sets either margin or padding
// to align content with header and footer
@mixin inner-block($margin-or-padding: padding) {
  #{$margin-or-padding}-left: $gutter-half;
  #{$margin-or-padding}-right: $gutter-half;
  @include media(tablet) {
    #{$margin-or-padding}-left: $gutter;
    #{$margin-or-padding}-right: $gutter;
  }
}

// Inner block usage:
//
// By default, inner block sets padding
// .inner-block {
//    @include inner-block;
// }
//
// To set margins instead of padding:
// .inner-block {
//    @include inner-block(margin);
// }
