// URL Helpers

$path: false !default;

// A function which can either output a image-url to be used with the Rails
// Asset Pipeline or Compass or a plain url which is prefixed with a defined
// path variable.
@function file-url($file) {
  $url: '';
  @if $path {
    $url: url($path + $file);
  } @else {
    $url: image-url($file);
  }
  @return $url;
}
