// Colours for the site, as per:
// http://alphagov.github.com/design/gov.uk.colours/

// Departmental colours
$treasury: #af292e;
$cabinet-office: #005abb;
$department-for-education: #003a69;
$department-of-transport: #006c56;
$home-office: #9325b2;
$department-of-health: #00ad93;
$ministry-of-justice: #231f20;
$ministry-of-defence: #4d2942;
$foreign-and-commonwealth-office: #003e74;
$department-for-communities-and-local-government: #00857e;
$department-for-energy-and-climate-change: #009ddb;
$department-for-culture-media-and-sport: #d40072;
$department-for-environment-food-and-rural-affairs: #898700;
$department-for-work-and-pensions: #00beb7;
$department-for-business-innovation-and-skills: #003479;
$department-for-international-development: #002878;
$government-equalities-office: #9325b2;
$attorney-generals-office: #9f1888;
$scotland-office: #002663;
$wales-office: #a33038;

// Standard palette, colours
$purple: #2e358b;
$purple-50: #9799c4;
$purple-25: #d5d6e7;
$mauve: #6f72af;
$mauve-50: #b7b9d7;
$mauve-25: #e2e2ef;
$fuschia: #912b88;
$fuschia-50: #c994c3;
$fuschia-25: #e9d4e6;
$pink: #d53880;
$pink-50: #eb9bbe;
$pink-25: #f6d7e5;
$baby-pink: #f499be;
$baby-pink-50: #faccdf;
$baby-pink-25: #fdebf2;
$red: #b10e1e;
$red-50: #d9888c;
$red-25: #efcfd1;
$mellow-red: #df3034;
$mellow-red-50: #ef9998;
$mellow-red-25: #f9d6d6;
$orange: #f47738;
$orange-50: #fabb96;
$orange-25: #fde4d4;
$brown: #b58840;
$brown-50: #dac39c;
$brown-25: #f0e7d7;
$yellow: #ffbf47;
$yellow-50: #ffdf94;
$yellow-25: #fff2d3;
$grass-green: #85994b;
$grass-green-50: #c2cca3;
$grass-green-25: #e7ebda;
$green: #006435;
$green-50: #7fb299;
$green-25: #cce0d6;
$turquoise: #28a197;
$turquoise-50: #95d0cb;
$turquoise-25: #d5ecea;
$light-blue: #2b8cc4;
$light-blue-50: #96c6e2;
$light-blue-25: #d5e8f3;

// Standard palette, greys
$charcoal-grey: #231f20;
$dark-blue-grey: #083640;
$light-blue-grey: #c1cacb;
$light-warm-grey : #e1e8e8;
$cool-grey: #e8f0f0;
$white: #ffffff;
$light-beige: #f8f7ee;
$light-tan: #f5f0d6;
