@import '_font_stack.scss';
@import '_conditionals.scss';

//  GOV.UK typography palettes

//  ANATOMY OF A TYPE STYLE
//  -----------------------
//  These are a collection of graphic styles. They are deliberately
//  abstracted from semantic HTML context to enable flexible re-use.
//  Although there is a lot of duplication within this file, as long
//  as you GZIP your CSS it shouldnt cause any bloat.


// CORE FONTS - NEW TRANSPORT

$is-print: false !default;

@mixin core-80($line-height: (80 / 80), $line-height-640: (55 / 53)) {
  font-family: $NTA-Light;
  @if $is-print == false {
    font-size: 80px;
    font-size: 8rem;
  } @else {
    font-size: 28pt;
  }
  line-height: $line-height;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  @media (max-width: 640px) {
    font-size: 5.3rem;
    line-height: $line-height-640;
  }
}

@mixin core-48($line-height: (50 / 48), $line-height-640: (35 / 32)) {
  font-family: $NTA-Light;
  @if $is-print == false {
    font-size: 48px;
    font-size: 4.8rem;
  } @else {
    font-size: 18pt;
  }
  line-height: $line-height;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  @media (max-width: 640px) {
    font-size: 3.2rem;
    line-height: $line-height-640;
  }
}

@mixin core-36($line-height: (40 / 36), $line-height-640: (25 / 24)) {
  font-family: $NTA-Light;
  @if $is-print == false {
    font-size: 36px;
    font-size: 3.6rem;
  } @else {
    font-size: 18pt;
  }
  line-height: $line-height;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  @media (max-width: 640px) {
    font-size: 2.4rem;
    line-height: $line-height-640;
  }
}

@mixin core-27($line-height: (30 / 27), $line-height-640: (20 / 18)) {
  font-family: $NTA-Light;
  @if $is-print == false {
    font-size: 27px;
    font-size: 2.7rem;
  } @else {
    font-size: 16pt;
  }
  line-height: $line-height;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  @media (max-width: 640px) {
    font-size: 1.8rem;
    line-height: $line-height-640;
  }
}

@mixin core-24($line-height: (30 / 24), $line-height-640: (20 / 16)) {
  font-family: $NTA-Light;
  @if $is-print == false {
    font-size: 24px;
    font-size: 2.4rem;
  } @else {
    font-size: 16pt;
  }
  line-height: $line-height;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  @media (max-width: 640px) {
    font-size: 1.6rem;
    line-height: $line-height-640;
  }
}

@mixin core-19($line-height: (25 / 19), $line-height-640: (15 / 13)) {
  font-family: $NTA-Light;
  @if $is-print == false {
    font-size: 19px;
    font-size: 1.9rem;
  } @else {
    font-size: 14pt;
  }
  line-height: $line-height;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  @media (max-width: 640px) {
    font-size: 1.3rem;
    line-height: $line-height-640;
  }
}

@mixin core-16($line-height: (20 / 16), $line-height-640: (15 / 13)) {
  font-family: $NTA-Light;
  @if $is-print == false {
    font-size: 16px;
    font-size: 1.6rem;
  } @else {
    font-size: 12pt;
  }
  line-height: $line-height;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
  @media (max-width: 640px) {
    font-size: 1.3rem;
    line-height: $line-height-640;
  }
}

@mixin core-14($line-height: (20 / 14), $line-height-640: (15 / 12)) {
  font-family: $NTA-Light;
  @if $is-print == false {
    font-size: 14px;
    font-size: 1.4rem;
  } @else {
    font-size: 11pt;
  }
  line-height: $line-height;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0;
  text-transform: none;
  @media (max-width: 640px) {
    font-size: 1.2rem;
    line-height: $line-height-640;
  }
}

@mixin heading-80 {
  @include core-80;

  padding-top: 8px;
  padding-top: 0.8rem;
  padding-bottom: 7px;
  padding-bottom: 0.7rem;

  @include media(tablet){
    padding-top: 0.6rem;
    padding-bottom: 1.4rem;
  }
}

@mixin heading-48 {
  @include core-48;

  padding-top: 10px;
  padding-top: 1rem;
  padding-bottom: 10px;
  padding-bottom: 1rem;

  @include media(tablet){
    padding-top: 0.7rem;
    padding-bottom: 1.3rem;
  }
}

@mixin heading-36 {
  @include core-36;

  padding-top: 8px;
  padding-top: 0.8rem;
  padding-bottom: 7px;
  padding-bottom: 0.7rem;

  @include media(tablet){
    padding-top: 0.6rem;
    padding-bottom: 0.9rem;
  }
}

@mixin heading-27 {
  @include core-27;

  padding-top: 8px;
  padding-top: 0.8rem;
  padding-bottom: 7px;
  padding-bottom: 0.7rem;

  @include media(tablet){
    padding-top: 0.4rem;
    padding-bottom: 0.6rem;
  }
}

@mixin heading-24 {
  @include core-24;

  padding-top: 9px;
  padding-top: 0.9rem;
  padding-bottom: 6px;
  padding-bottom: 0.6rem;

  @include media(tablet){
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
  }
}

@mixin copy-19 {
  @include core-19;

  padding-top: 2px;
  padding-top: 0.2rem;
  padding-bottom: 8px;
  padding-bottom: 0.8rem;

  @include media(tablet){
    padding-top: 0;
    padding-bottom: 0.5rem;
  }
}

@mixin copy-16 {
  @include core-16;

  padding-top: 8px;
  padding-top: 0.8rem;
  padding-bottom: 7px;
  padding-bottom: 0.7rem;

  @include media(tablet){
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@mixin copy-14 {
  @include core-14;

  padding-top: 8px;
  padding-top: 0.8rem;
  padding-bottom: 7px;
  padding-bottom: 0.7rem;

  @include media(tablet){
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
